
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,video, embed {
  max-width: 100%;
}

body {
  text-size-adjust: none;
  appearance: none;
  -webkit-appearance: none;
}
