@import './base.css';

@font-face {
    font-family: 'biennale-black';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-black.otf");
}
@font-face {
    font-family: 'biennale-bold';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-bold.otf");
}
@font-face {
    font-family: 'biennale-regular';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-regular.otf");
}
@font-face {
    font-family: 'biennale-medium';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-medium.otf");
}
@font-face {
    font-family: 'biennale-thin';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-thin.otf");
}
@font-face {
    font-family: 'biennale-light';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-light.otf");
}
@font-face {
    font-family: 'biennale-semibold';
    src: url("../assets/Fonts/Fontspring-DEMO-biennale-semibold.otf");
}


.maTop80 {
    margin-top: 80px;
}
.maTop43 {
    margin-top: 43px;
}

.color1 {
    color: #22FF01;
}
.color2 {
   color: #28EF0D
}
.color3 {
    color:#21FF00;
}
.colBlack {
   color: #000;
}
.colWhite {
    color: #fff;
}
.maTop {
    margin: 3% 0;
}
.slideSize {
    width: 640px;
    height: 552px;

    border: 1px solid #fff;
}
.gpad {
    padding: 5px;
}

.anybody-family{
    font-family: "Manrope", sans-serif;
}
.cardsBg {
    background-color: rgb(69, 8, 141, 0.2) !important;
}
.btnBackground {
    background: linear-gradient(  120deg, #fff,  #fff, #D9FF83, #21FF00, #21FF00) !important;
    color: black;
    font-weight: bold !important;
}

@media screen and (max-width: 1000px) {
    .slideSize {
        width: 400px;
    }
}
@media screen and (max-width: 568px) {
    .slideSize {
        width: 350px;
    }
}